@keyframes leftMove {
  0% {
    opacity: 0;
    transform: translateX(-100px); }
  80% {
    opacity: 1;
    transform: translateX(20px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes rightMove {
  0% {
    opacity: 0;
    transform: translateX(100px); }
  80% {
    opacity: 1;
    transform: translateX(-20px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes bottomMove {
  0% {
    opacity: 0;
    transform: translateY(100px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

body {
  font-family: "Lato", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.7;
  color: #777;
  padding: 30px; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  font-weight: 400;
  backface-visibility: hidden; }
  .heading-primary-main {
    display: block;
    font-size: 50px;
    letter-spacing: 35px;
    animation-name: leftMove;
    animation-duration: 3s;
    animation-timing-function: ease-out; }
  .heading-primary-sub {
    display: block;
    font-size: 20px;
    letter-spacing: 15px;
    animation-name: rightMove;
    animation-duration: 3s;
    animation-timing-function: ease-out;
    margin-bottom: 20px; }

.heading-secondary {
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 700px;
  background: linear-gradient(to right, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8));
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: .2rem;
  transition: all .2s; }
  .heading-secondary:hover {
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2);
    transform: skewY(2deg) skewX(15deg) scale(1.1); }

.tertiary-heading {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

*,
*::after,
*::before {
  padding: 0px;
  margin: 0px;
  box-sizing: inherit; }

body {
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

.u-center-text {
  text-align: center; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }

.u-bottom-margin-small {
  margin-bottom: 1.5rem; }

.btn:link, .btn:visited {
  display: inline-block;
  border-radius: 100px;
  text-decoration: none;
  text-transform: uppercase;
  padding: 15px 40px;
  transition: all .2s;
  position: relative;
  font-size: 1.6rem; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scale(1.5);
    opacity: 0; }

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2); }

.btn-white {
  background: #fff;
  color: #777; }
  .btn-white::after {
    background-color: #fff; }

.btn::after {
  content: "";
  width: 100%;
  height: 100%;
  /* chua thay tac dung cua dong nay */
  display: inline-block;
  position: absolute;
  border-radius: 100px;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s; }

.btn-animation {
  animation: bottomMove .5s ease-out .75s;
  animation-fill-mode: backwards; }

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #55c57a;
  display: inline-block;
  text-decoration: none;
  padding: .4rem;
  border-width: 0 0 .1px;
  border-style: solid;
  transition: all .2s; }

.btn-text:hover {
  background: #55c57a;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  border: none;
  transform: translateY(-2px); }

.btn-text:active {
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(0); }

.composition {
  position: relative;
  z-index: 1;
  transition: all 2s; }
  .composition-photo {
    width: 55%;
    position: absolute;
    box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5); }
    .composition-photo-1 {
      left: 0;
      top: -2rem; }
    .composition-photo-2 {
      right: 0;
      top: 2rem; }
    .composition-photo-3 {
      left: 20%;
      top: 10rem; }
    .composition-photo:hover {
      outline-offset: .5rem;
      outline: 1rem solid #55c57a;
      z-index: 2;
      transform: scale(1.2); }
  .composition:hover .composition-photo:not(:hover) {
    transform: scale(0.9); }

.feature-box {
  background: rgba(255, 255, 255, 0.8);
  padding: 2.5rem;
  font-size: 1.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  transition: transform .3s; }
  .feature-box-icon {
    font-size: 6rem;
    display: inline-block;
    background: linear-gradient(to right, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8));
    -webkit-background-clip: text;
    color: transparent; }
  .feature-box:hover {
    transform: translateY(-1.5rem) scale(1.03); }

.header {
  background-image: linear-gradient(rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/hero.jpg);
  height: 95vh;
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  position: relative; }
  .header_logo-box {
    position: absolute;
    top: 40px;
    left: 40px; }
  .header_logo {
    height: 35px; }
  .header_box-text {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.row {
  max-width: 100rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    clear: both;
    display: table; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem)/2); }
  .row .col-1-of-3 {
    width: calc((100% - 2* 6rem)/3); }
  .row .col-2-of-3 {
    width: calc(2* ((100% - 2* 6rem)/3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3* 6rem)/4); }
  .row .col-2-of-4 {
    width: calc(2* ((100% - 3* 6rem)/4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3* ((100% - 3* 6rem)/4) + 2* 6rem); }

.section-about {
  background: #f7f7f7;
  padding: 15rem 0;
  margin-top: -20vh; }

.feature-section {
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/nat-4.jpg);
  background-size: cover;
  padding: 20rem 0;
  transform: skewY(-6deg);
  margin-top: -10rem; }
  .feature-section > * {
    transform: skewY(6deg); }
